<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>
			{% block title %}Résilink
			{% endblock %}
		</title>

		<link rel="stylesheet" href="{{ asset('css/base.css') }}">
		<link rel="preload" as="font" href="{{ asset('fonts/JetBrainsMono-Regular.woff2') }}" type="font/woff2" crossorigin>
		<link rel="preload" as="font" href="{{ asset('fonts/Spectral-ExtraBold.woff2') }}" type="font/woff2" crossorigin>
		<link rel="icon" href="{{ asset('img/favicon.ico') }}"> {% block styles %}{% endblock %}
		</head>
		<body>
			<header class="navbar">
				<div class="container">
					<a class="brand" href="{{ path('app_home') }}"><img src="{{ asset('img/navbar_logo.png') }}" alt="Résilink"/></a>

					<nav class="menu-center">
						<div class="menu">
							<a href="{{ path ('app_home') }}" class="{% if app.request.attributes.get('_route') == 'app_home' %}is-active{% endif %}" aria-current="{% if app.request.attributes.get('_route') == 'app_home' %}page{% endif %}">
								Accueil
							</a>
							<a href="{{ path ('app_messagerie') }}" class="{% if app.request.attributes.get('_route') == 'app_messagerie' %}is-active{% endif %}" aria-current="{% if app.request.attributes.get('_route') == 'app_messages' %}page{% endif %}">
								Messagerie
							</a>
							<a href="{{ path ('app_stocks') }}" class="{% if app.request.attributes.get('_route') == 'app_about' %}is-active{% endif %}">
								À propos
							</a>
							<a href="{{ path ('app_stocks') }}" class="{% if app.request.attributes.get('_route') == 'app_stocks' %}is-active{% endif %}">
								Stocks
							</a>

						</div>
					</nav>

					<div class ="nav-right">
						<div class="nav-right">
							<a href="" class="ico ico-user" aria-label="Profil" title="Profil"></a>
							<a href="{{ path('app_logout') }}" class="ico ico-logout" aria-label="Se déconnecter" title="Se déconnecter"></a>
						</div>

					</div>
                </div>
				</header>

				<main id="content"> {% block body %}{% endblock %}
					</main>
					{% block javascripts %}{% endblock %}

        </body>
</html>
